<% content_for :header do %>
  <%= stylesheet_link_tag "results.css" %>
<% end %>

<% content_for :messages do %>
  <%= render "shared/message_types" %>
<div class="message_box sort_box" id="sort_box">
  <div class="content">
    <div class="label">Relevance</div>
    <div class="choice">Up</div><div class="choice">Down</div>
    
    <div class="label">Name</div>
    <div class="choice">Up</div><div class="choice">Down</div>

    <div class="label">Size</div>
    <div class="choice">Up</div><div class="choice">Down</div>

    <div class="label">Created</div>
    <div class="choice">Up</div><div class="choice">Down</div>
  </div>
</div>
<% end %>


<% #normal content %>

<div class="top_area">
  <%= render "search_bar" %>
</div>

<div class="bottom_area">
  <div class="bar_menu">
    <div class="left">
      <a id="filter_link" href="javascript:;"><%=@filter%></a>
      <script>$("filter_link").observe("click", function(e){toggleWindow($("filter_box"),$$(".bar_menu > .left")[0])});</script>
    </div>
    <div class="right">
      <a id="sort_link" href="javascript:;">Relevance</a>
      <script>$("sort_link").observe("click", function(e){toggleWindow($("sort_box"),$$(".bar_menu > .right")[0])});</script>
    </div>
  </div>
  <div class="bar">
    <div class="result_entry_left">
      <div class="result_entry_name">
      name
      </div>
    </div>
    <div class="result_entry_middle">&nbsp;</div>
    <div class="result_entry_right">
      <div class="result_entry_date">
      created
      </div>
      <div class="result_entry_size">
      size
      </div>
    </div>
  </div>

  <% if not @too_short %>
    <%= render "results" %>
  <% else %>
  <center><br><br>Queries must be longer than 2 characters.</center>
  <% end %>

  <div class="footer">
    <%= render "shared/pages" %>
  </div>
</div>
