<div class="message_box filter_box" id="filter_box">
  <div class="content">
    <div class="label"><%= link_to "Folders", params.merge(:filter => "Folders")%></div>
    <div class="label"><%= link_to "Video", params.merge(:filter => "Video")%></div>
    <div class="label"><%= link_to "Audio", params.merge(:filter => "Audio")%></div>
    <div class="label"><%= link_to "Applications", params.merge(:filter => "Applications")%></div>
    <div class="label"><%= link_to "Images", params.merge(:filter => "Images")%></div>
    <div class="label"><%= link_to "ISO's", params.merge(:filter => "ISO's")%></div>
    <div class="label"><%= link_to "Text/Ebooks", params.merge(:filter => "Text/Ebooks")%></div>
    <div class="label"><%= link_to "Archives", params.merge(:filter => "Archives")%></div>
    <div class="full_label"><%= link_to "Everything", params.merge(:filter => "Everything")%></div>
  </div>
</div>

