<% content_for :header do %>
  <%= stylesheet_link_tag "browse_path.css" %>
<% end %>

<% content_for :top do %>
<% end %>

<%=render "sidebar"%>

<div class="entry_list">
<% @entries.each do |entry| %>
  <% if entry.folder %>
  <a href="<%=url_for(:action=>"path", :q=>"#{entry.path}/#{entry.name}")%>" onmouseover="selectElement('entry_<%=entry.id%>')" onmouseout="unselectElement('entry_<%=entry.id%>')">
  <% end %>
  <div class="entry" id="entry_<%=entry.id%>">
    <div class="entry_size">
      <%=entry.fancy_size%>
    </div>
    <div class="entry_date">
      <%= entry.created_at().strftime("%b %d %Y") %>
    </div>
    <div class="entry_name">
      <%if entry.folder %><b><%end%>
      <%=entry.name%>
      <%if entry.folder %></b><%end%>
    </div>
  </div>
  <% if entry.folder %>
  </a>
  <% end %>
<% end %>
</div>
